In [1]:
import numpy as np
import pandas as pd
import os
import urllib

%matplotlib inline

In [3]:
df = pd.read_csv("WHO-COVID-19-global-data.csv")

In [5]:
df  # 直接打印

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
216613,2022-06-30,ZW,Zimbabwe,AFRO,0,255355,0,5549
216614,2022-07-01,ZW,Zimbabwe,AFRO,0,255355,0,5549
216615,2022-07-02,ZW,Zimbabwe,AFRO,0,255355,0,5549
216616,2022-07-03,ZW,Zimbabwe,AFRO,0,255355,0,5549
216617,2022-07-04,ZW,Zimbabwe,AFRO,0,255355,0,5549

可以发现：

1. 数据大小为：216618 row * 8 columns
2. 8 columns各自为什么信息

In [6]:
df_index = df.index
df_index

RangeIndex(start=0, stop=216618, step=1)

索引是一个单独的对象，从0开始，到216618结束，步长为1。

In [7]:
df_cols = df.columns
df_cols

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

打印出来数据的列信息。

In [8]:
df_index.values

array([     0,      1,      2, ..., 216615, 216616, 216617])

In [9]:
df.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2022-07-02', 'ZW', 'Zimbabwe', ..., 255355, 0, 5549],
       ['2022-07-03', 'ZW', 'Zimbabwe', ..., 255355, 0, 5549],
       ['2022-07-04', 'ZW', 'Zimbabwe', ..., 255355, 0, 5549]],
      dtype=object)

In [10]:
df.shape

(216618, 8)

In [11]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [12]:
df.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
216613,2022-06-30,ZW,Zimbabwe,AFRO,0,255355,0,5549
216614,2022-07-01,ZW,Zimbabwe,AFRO,0,255355,0,5549
216615,2022-07-02,ZW,Zimbabwe,AFRO,0,255355,0,5549
216616,2022-07-03,ZW,Zimbabwe,AFRO,0,255355,0,5549
216617,2022-07-04,ZW,Zimbabwe,AFRO,0,255355,0,5549

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216618 entries, 0 to 216617
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      216618 non-null  object
 1   Country_code       215704 non-null  object
 2   Country            216618 non-null  object
 3   WHO_region         216618 non-null  object
 4   New_cases          216618 non-null  int64
 5   Cumulative_cases   216618 non-null  int64
 6   New_deaths         216618 non-null  int64
 7   Cumulative_deaths  216618 non-null  int64
dtypes: int64(4), object(4)
memory usage: 13.2+ MB

In [14]:
df.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.166180e+05      2.166180e+05  216618.000000       2.166180e+05
mean   2.522216e+03      7.381179e+05      29.251563       1.282011e+04
std    1.634786e+04      3.785875e+06     158.304760       5.861104e+04
min   -3.295200e+04      0.000000e+00   -2440.000000       0.000000e+00
25%    0.000000e+00      3.240000e+02       0.000000       3.000000e+00
50%    2.300000e+01      1.391500e+04       0.000000       1.740000e+02
75%    4.870000e+02      2.005015e+05       6.000000       3.137000e+03
max    1.255249e+06      8.643372e+07   11447.000000       1.007644e+06

In [15]:
df["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
216613       Zimbabwe
216614       Zimbabwe
216615       Zimbabwe
216616       Zimbabwe
216617       Zimbabwe
Name: Country, Length: 216618, dtype: object

In [16]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [18]:
df.Country

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
216613       Zimbabwe
216614       Zimbabwe
216615       Zimbabwe
216616       Zimbabwe
216617       Zimbabwe
Name: Country, Length: 216618, dtype: object