## list 列表

列表是Python中的最基础的数据结构，列表中的元素并不需要是相同的数据类型。

In [5]:
five = 5

listOne = [1, 2, 3, "four", five]

print(listOne)

[1, 2, 3, 'four', 5]

与字符串的索引一样，列表的索引从0开始，并且列表可以进行截取。

In [6]:
print(listOne[0])

print(listOne[1:3])

1
[2, 3]

In [7]:
print(listOne[1:4:2])

[2, 'four']

我们可以使用append()函数来向一个列表的最后添加一个新的元素：

In [8]:
listTwo = []

listTwo.append("One")
print(listTwo)

['One']

或者我们可以使用del来删除列表中的元素：

In [9]:
listThree = [1, 2, 3, 4]

del listThree[1]
print(listThree)

[1, 3, 4]

或者我们可以使用remove()函数来移除制定的元素：

In [10]:
listThree.remove(4)

print(listThree)

[1, 3]

我们可以使用max()和min()两个函数来查找list中的最大值和最小值：

In [11]:
listFour = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(max(listFour))
print(min(listFour))

10
1

我们还可以使用sun()来对list中的所有元素进行求和。

In [12]:
print(sum(listFour))

55

我们可以将for循环和list进行相互结合：

In [13]:
listFive = [1, 2, 3, 4, 5]

sum = 0
for num in listFive:
    sum = sum+num

print(sum)

15

我们可以使用for循环来实现一个冒泡排序：

In [14]:
listSix = [5, 2, 3, 4, 1, 8, 7, 9]

# 对listSix进行遍历
for i in range(len(listSix)):
    for j in range(0, len(listSix)-i-1):
        if listSix[j] > listSix[j+1]:
            listSix[j], listSix[j+1] = listSix[j+1], listSix[j]

print(listSix)

[1, 2, 3, 4, 5, 7, 8, 9]

不过Python也提供了内置的排序函数sorted()

In [15]:
listSeven = [5, 2, 3, 4, 1, 8, 7, 9]

print(sorted(listSeven, reverse = True))

[9, 8, 7, 5, 4, 3, 2, 1]

或者我们使用sort()函数：

In [16]:
listEight = [5, 2, 3, 4, 1, 8, 7, 9]

listEight.sort(reverse=True)
print(listEight)

[9, 8, 7, 5, 4, 3, 2, 1]

我们可以将while循环和list进行相互结合：

In [17]:
class_name_list = []

print("You can enter 'n' to stop entering.")
name = input("Please enter the name of student: ")

while name != "n":
    class_name_list.append(name)
    name = input("Next name?:")

print(f'In that class, the are {class_name_list}')

You can enter 'n' to stop entering.

Please enter the name of student:  Jobs
Next name?: Bob
Next name?: n

In that class, the are ['Jobs', 'Bob']

## Challenge

程序要求：

1. 让用户输入两个数字
2. 两个数字需要在1～100之间，包括1和100
3. 如果用户的数字不再1～100之间或者两个数字相等，要求用户重新输入
4. 从小到大打印出来用户输入的数字（用户可能先输入大的数字）

In [18]:
num_1 = int(input("Please enter a numbter between 1 and 100: "))
num_2 = int(input("Please enter a number between 1 and 100:"))

while num_1 > 100 or num_1 < 0 or num_2 > 100 or num_2 < 0 or num_1==num_2:
    if num_1 == num_2:
        print("Sorry, those two numbers should be different.")
    else:
        print("Numbers must be between 1 and 100.")
    
    num_1 = int(input("Please enter a numbter between 1 and 100: "))
    num_2 = int(input("Please enter a number between 1 and 100:"))

if num_1 < num_2:
    for num in range(num_1, num_2+1):
        print(num)
else:
    for num in range(num_2, num_1+1):
        print(num)

Please enter a numbter between 1 and 100:  20
Please enter a number between 1 and 100: 30

20
21
22
23
24
25
26
27
28
29
30

通过while循环，我们可以让用户进行不断的输入，直到用户决定停止输入。

## dictionary 字典

字典是Python的一个有用的数据结构。

列表是有序的，而字典是无序的，不过字典的速度比列表快了很多。

字典中的元素由键值对来进行构成：

In [19]:
id_name_pair = {"001":"Jobs", "002":"Bob", "003":"Alex", "004":"Jobs"}

print(id_name_pair["001"])

Jobs

由于字典是无序的，所以无法通过位置坐标来访问对应位置的键值对，但是我们可以使用键来查询对应的值。

所以，列表中的键的值必须是唯一的，但是值并不是，而且键必须是不可更改的数据类型。

我们也可以使用get()函数来访问：

In [20]:
id_name_pair.get("002")

'Bob'

我们可以向字典添加新的键值对：

In [21]:
id_name_pair["005"] = "Henry"

print(id_name_pair)

{'001': 'Jobs', '002': 'Bob', '003': 'Alex', '004': 'Jobs', '005': 'Henry'}

In [22]:
print(id_name_pair.items())

dict_items([('001', 'Jobs'), ('002', 'Bob'), ('003', 'Alex'), ('004', 'Jobs'), ('005', 'Henry')])

我们可以使用for循环来访问字典：

In [23]:
for idNumber in id_name_pair:
    print(idNumber)

001
002
003
004
005

In [24]:
for idNumber,name in id_name_pair.items():
    print(idNumber + ":" +name)

001:Jobs
002:Bob
003:Alex
004:Jobs
005:Henry

要修改字典的值也非常的简单：

In [27]:
id_name_pair["005"] = "Henny"

for idNumber,name in id_name_pair.items():
    print(idNumber + ":" +name)

001:Jobs
002:Bob
003:Alex
004:Jobs
005:Henny

如果要删除其中的一个键值对，可以使用del关键字：

In [28]:
del id_name_pair["005"]

for idNumber,name in id_name_pair.items():
    print(idNumber + ":" +name)

001:Jobs
002:Bob
003:Alex
004:Jobs

这里可以使用一个关键字in来查询某一个元素是否在对象中：

In [29]:
if "004" in id_name_pair:
    print(id_name_pair["004"])

Jobs

in也可以和not结合起来：

In [30]:
if "008" not in id_name_pair:
    print("There is no 008 key in the dictionary")

There is no 008 key in the dictionary

in的返回值是True或者Flase。

In [ ]:
listTesting = [1, 2, 3, 4, 5]

print(6 in listTesting)
print(1 in listTesting)

False
True

## Zip function

假设我们有两个list：

In [35]:
list_one = [1, 2, 3, 4]
list_two = ["a", "b", "c", "d"]

如果我们想要将两个列表中的元素打包成为一个个的元组，我们就可以使用zip函数了。

In [45]:
zipped = zip(list_one, list_two)
print(zipped)

<zip object at 0x7fa890e79ec0>

In [46]:
#转换为列表类型

list(zipped)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

那要是两个list的长短不一致呢？

In [47]:
list_three = [1, 2, 3, 4, 5]
list_four = ["a", "b", "c", "d", "e", "f"]

print(list(zip(list_three, list_four)))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

可以发现会按照最短的列表的长度来执行。

## Tuple 数据类型

Python语言的元组和列表是相似的，但是不同的地方在于元组中的元素是不能够修改的。

元组会使用小括号来进行表示()，而列表则是使用方括号[]进行表示。

In [50]:
is_list = [1, 2, 3]
is_tuple = (1, 2, 3)

In [52]:
# 如果我们修改列表
is_list[0] = 100
print(is_list)

[100, 2, 3]

In [53]:
# 如果我们修改元组
is_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

可以发现会报错，报错的内容为：

'tuple' object does not support item assignment

不过，我们可以对两个元组进行合并，前提是我们创建了一个新的元组：

In [54]:
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)

tuple_3 = ()
tuple_3 = tuple_1 + tuple_2

print(tuple_3)
print(type(tuple_3))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

因为元组无法被更改，所以我们也无法删除元组中的某一个元素，但是我们可以使用del来删除整个元组：

In [55]:
tupple_del = (1, 2)
del tuple_del

print(tuple_del)  # 这个元组已经被删除了，所以会报错

NameError: name 'tuple_del' is not defined

我们可以使用len()来查看元组的大小：

In [56]:
tuple_len = (1, 2, 3)

print(len(tuple_len))

3

## 多维数组

我们需要考虑一下多维数组的情况：

In [57]:
list_2d = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

我们可以发现这是一个3x3的数组，对于这样的数组，如果我们需要访问第二行第三列的元素，我们应该怎么做呢？

In [59]:
print(list_2d[1][2])

6

如上所示，list_2d后面有两个方括号，第一个方括号用来表示行，第二个方括号用来表示列。